/* CSS Document */
body {
/*font-family:"Palatino Linotype", Verdana, Arial, Helvetica, sans-serif;*/
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
margin-left:20px;
}

#chapter {
background-color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
color:#0033CC;
font-weight:bold;
text-align:right;
margin-right:10px;
border-top-width:medium;
border-top-color:#0033CC;
border-top-style:solid;
}

.prebox {
margin-left:30px;
color:#990000;
}

table {
border-style:solid;
border-width:thin;
border-color:#666666;
border-left:none;
border-right:none;
/*border-color:#000000;*/
}

td {
/*border-style:solid;*/
border-left:none;
border-right:none;
padding: 3px;
}
h1, h2, h3, h4 {
/*color:#6633FF;*/
color:#0033CC;
}
.dedi {font-family:"Palatino Linotype", Verdana, Arial, Helvetica, sans-serif;
font-style:italic;
font-size:24pt;
text-align:center;
}
.details {
margin-left:10px;
margin-top:-10px;
}

code {
font-size:16px;
color:#990000;
}

.box {
border-width:thin;
border-color:#333333;
border-style:solid;
}

.chapname {
border-bottom-style:solid;
border-bottom-width:thin;
border-bottom-color:#6633FF;
text-align:right;
background-color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
color:#0033CC;
margin-right:10px;
font-weight:bold;
}

.td1 {
font-family:monospace;
font-size:16px;
border:none;
}

.tdcell {
/*display: table-cell;*/
vertical-align:text-top;
border:none;
font-family:monospace;
font-size:16px;
width:120px;
color:#990000;
}
tr {
border-color:#333333;
border-style:solid;
border-left-style:none;
border-right-style:none;
}

th {
font-family:Arial, Helvetica, sans-serif;
border-bottom-color:#333333;
border-bottom-style:double;
/*display: table-cell;*/
text-align:left;
font-size:16px;
}

.prevnext {
text-align:right;
background-color:#FFFFFF;
margin-right:20px;
}

img {border: 0px;} /*remove colored border around img if visited*/

.toc {     /* for sub chapters*/
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#0033CC;
margin-left: 25px;
text-decoration: none;
}

.tc {      /* for chapters*/
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#0033CC;
margin-left:5px;
font-weight:bold;
text-decoration: none;
}