
/* global.css */
body, html  {height:100%; }
body, input, table, textarea, button  {font-family: verdana, sans-serif; font-weight: normal; color: #000; font-size: 11px; }
body  {font-size: 11px; margin: 0px; background-color: white; color: black; padding:0 20px 0px 20px; }
.GlobalContent  {padding-bottom: 10px; }
.asterisk   {font-size: 11px; color: #AC1417; font-weight: bold; }
tr  {vertical-align: top; }
th  {text-align: left; }
.Button  {vertical-align:top; }
img  {border: 0px; }
form  {margin: 0px; padding: 0px; }
.preFixedWidth  {overflow-x:auto; width: 47em; }
.preFixedHeight  {overflow: auto; height: 28em; width: 47em; }
a  {color: #00217B; text-decoration: none; }
a:hover  {    text-decoration: underline; }
h1, .h1  {margin: 0 0 7px 0; padding: 0 0 3px 0; display: block; color: #1E3248; font-size: 20px; font-weight: bold; border-bottom: 1px solid #B8BDD5; }
h2, .h2  {margin: 0 0 4px 0; padding: 0; display:block; color: #6D7288; font-size: 15px; font-weight: bold; border: none; }
h3, .h3  {margin: 15px 0 0 0; padding: 0; font-size: 12px; font-weight: bold; color: black; display: block; }
h4, .h4  {margin: 0; padding: 0; font-size: 12px; font-weight: bold; color: #FFF; }
h5, .h5  {margin: 0; padding: 0; font-size: 11px; font-weight: bold; color: #1f3247; }
.p  {display: block; margin-top: 15px; margin-bottom: 15px; }
.small, .small *  {font-size: 7.5pt; }
.b  {font-weight: bold; }
.i  {font-style: italic; }
.u  {text-decoration: underline; }
.s  {text-decoration: line-through; }
.code  {font-family: "courier new"; color: DarkCyan; }
.info  {color: #000000; font-weight: bold; }
.info a  {color: #00217B; }
.error  {color: #990000; font-weight: bold; }
.gray, .grey  {color: #888888; }
.grey a  {color: #888888; text-decoration: underline; }
.red  {color: red; }
.grid  {border: 3px solid #DFE0E8; background-color: White; }
.grid td, .grid th  {border: 1px solid #DFE0E8; padding: 5px; background-color: White; }
.grid th  {text-align: center; }
.anonHomeBucket  {padding: 10px; border-right: 1px dashed #A7B0BE; }
.anonHomeBucketR  {padding: 10px; }
textarea.textarea10  {font-size: 10px; }
input.text10  {font-size: 10px; }
.tenpxNormal  {font-size: 10px; font-weight: normal; }
.tenpxBold {font-size: 10px; font-weight: bold; }
hr  {border: none 0; border-top: 1px solid #B8BDD5; width: 100%; height: 1px; margin: 20px 0 20px 0; }
hr.tight  {border: none 0; border-top: 1px solid #B8BDD5; width: 100%; height: 1px; padding: 10px 0 7px 0; margin:0; }
hr.dashed  {border: none 0; border-top: 1px dashed #B8BDD5; width: 100%; height: 1px; padding: 0 0 20px 0; margin:0; }
hr.shortdotted  {border: none 0; border-top: 1px dotted #B8BDD5; width: 200px; height: 1px; margin: 2px 0 2px 0; padding:0; text-align: left; }
.LandingPageListTitle  {padding: 1.5em 0 .5em 0; margin-top: 2em  }
.marketing .p {line-height: 1.7em; margin-top: 0; padding-top: 0; }


/* top.css */
.primarynav {}
.navigationBar {background: #0d3f74; height: 32px; color: #FFF; }
.navigationBar a:link, .navigationBar a:visited, .navigationBar a:active {    color: #FFF; text-decoration: none; }
.navigationBar a:hover {    text-decoration: underline; }
.safariLogo {}


/* bottom.css */
.footertable {margin-top: 22px; font-size: 10px; }
.footertable a:link, .footertable a:visited, .footertable a:active {    color: #00217B; font-weight: bold; text-decoration: none; }
.footertable a:hover {    text-decoration: underline; }
.footernav {text-align:center; padding-top: 14px; color: #C5CBD4; border-top: 1px solid #C5CBD4; }
.footercopyright {line-height: 1.2em; color: #333333; font-size: 10px; }
.footercopyright *  {font-size: 10px; }


/* right.css */
.rightColTable {}
.rightcol {padding: 3px 10px 0 10px; }
.rightColCell {padding: 0 0 26px 0; border-bottom: 1px solid #cdd1e2; background: #fff url(/static/20070604-261/images/right_column_bg.gif) repeat-y; }
.rightcolText {padding: 10px 10px 10px 10px; }
.rtColInputCellTop {padding: 12px 0 0 0; }
.rtColFormLabelTop {padding: 12px 0 0 10px; }
.rtColInputCell {padding: 7px 0 0 0; }
.rtColFormLabel {padding: 7px 0 0 10px; }
.rtColCheckbox {padding: 7px 0 0 8px; }
.rtColRtLabel {padding: 7px 0 0 0; }
.loginSelect {background-color: rgb(255, 255, 255); z-index: 1; width: 143px; font-size: 11px; }
.loginInput {padding-left: 3px; background-color: rgb(255, 255, 255); z-index: 1; width: 70px; font-size: 11px; }
.rightColHdr {padding: 4px 10px 4px 10px; background: #fff url(/static/20070604-261/images/right_column_hdr2_bg.gif) no-repeat 0 0; }
.rightColHdrTop {padding: 4px 10px 4px 10px; background: #fff url(/static/20070604-261/images/right_column_hdr_bg.gif) no-repeat 0 0; }
.rtColList {font-weight: normal; font-size: 10px; padding: 2px 0 3px 12px; margin-left: 0; margin-top: -1px; margin-bottom: 2px; line-height: 1.0em; }
.rtColList .Item {padding-bottom:10px; }


/* left.css */
.hidetab {margin-top: 21px; }
.leftcol {height:100%; min-height:100%; background: #E6E8ED url(/static/20070604-261/images/leftnav_bg_default.gif) repeat-y; }
.leftcoltable {font-size: 10px; }
.leftColBottom {background: #E6E8ED url(/static/20070604-261/images/leftnav_bg_bottom.gif) no-repeat; }
.boxoverflow186  {overflow:hidden; min-width: 186px; max-width: 186px; width:186px; }
.boxoverflow166  {overflow:hidden; min-width: 166px; max-width: 186px; width:166px; width: expression(self.isIE7 ? "166px" : "186px"); }
.searchSelect {background-color: rgb(255, 255, 255); width: 164px; margin-top: 16px; font-family: verdana, sans-serif; font-size: 10px; }
.searchInput {padding-left: 3px; background-color: rgb(255, 255, 255); width: 120px; font-family: verdana, sans-serif; font-size: 10px; }
.browseSelect {background-color: rgb(255, 255, 255); width: 164px; margin-top: 8px; margin-bottom: 10px; font-family: verdana, sans-serif; font-size: 10px; }
.leftmenuitemcontent *{font-size: 10px; }
.colcontent {padding: 0 10px 0 10px; }
.colcontent hr {border: none 0; border-top: 1px dashed #a7b0be; width: 97%; height: 1px; margin: 0; }
.colcontent2 {padding: 0 10px 16px 10px; }
.ltColLabel {padding: 2px 0 0 0; }
.ltColCheckbox {padding: 0 0 0 6px; }
.ltColRadiobox {padding: 0; }
.colcontentL {padding: 8px 0 4px 10px; }
.colcontentR {padding: 8px 10px 4px 0; }
.colDefaultHeader {padding: 4px 10px 4px 10px; background: #b7bcd5 url(/static/20070604-261/images/leftnav_search_bg.gif) no-repeat; }
.colBrowseHeaderOpen {padding: 8px 10px 5px 10px; background: #b7bcd5 url(/static/20070604-261/images/leftnav_bg_below_on.gif) no-repeat 0 0; }
.colBrowseHeaderClosed {padding: 4px 10px 4px 10px; background: #b7bcd5 url(/static/20070604-261/images/leftnav_bg_above_off.gif) no-repeat 0 0; }
.colSearchResultsHeader {padding: 4px 10px 7px 10px; background: #b7bcd5 url(/static/20070604-261/images/leftnav_bg_above_on.gif) no-repeat 0 0; }
.colSearchResults {padding: 1px 10px 7px 10px; background: #ebedf7 url(/static/20070604-261/images/leftnav_bg_open.gif) repeat-y; }
.colTOCHeader {padding: 4px 10px 7px 10px; background: #b7bcd5 url(/static/20070604-261/images/leftnav_bg_above_on.gif) no-repeat 0 0; }
.colSearchResults hr {border: none 0; border-top: 1px dashed #a7b0be; width: 97%; height: 1px; margin: 0; }
.colSearchResults .goto{font-size: 10px; font-weight: bold; color: #1E3248; }
.pageInput {background-color: rgb(255, 255, 255); width: 25px; font-family: verdana, sans-serif; font-size: 10px; font-weight: bold; }


/* dialog.css */
.Dialog  {margin:0; padding:0; width:100%; }
.Dialog form  {width:100%; }
.Dialog .Title  {width:100%; margin: 0 0 7px 0; padding: 0 0 3px 0; display: block; color: #1E3248; font-size: 20px; font-weight: bold; border-bottom: 1px solid #B8BDD5; }
.Dialog .Content  {width:100%; background-color: white; color: black; }
.Dialog .Text  {}
.Dialog .Field  {color: #990000; }
.Dialog .Content input.loginText  {font-size: 11px; }
.Dialog .Content select.selectText  {font-size: 11px; }
.SubDialog  {display:block; width:100%; padding:0; margin:0; }
.SubDialog .TopLine  {width:100%; height:3px; background-color: #0d3f74; }
.SubDialog .Title  {display:block; font-size:11px; color: white; background-color: #0d3f74; font-weight: bold; white-space: nowrap; margin:0; padding:7px; }
.SubDialog .Content  {margin:0; padding:0; border-left: 1px solid #C4CAD4; border-right: 1px solid #C4CAD4; border-bottom: 1px solid #C4CAD4; }
.SubDialog .RowContent  {border-bottom: 1px solid #C4CAD4; padding: 5px  }


/* bookpane.css */
.BookPane  {margin-top:2em; }
.BookPane .Title  {padding:10px; background-color: #0D3E74; color: #ffffff; font-weight: bold; white-space: nowrap; border-right: 1px solid #FFF; }
.BookPane .TitleLast  {padding:10px; background-color: #0D3E74; color: #ffffff; font-weight: bold; white-space: nowrap; }
.BookPane .Content, .BookPane .ContentLast  {border-left: 1px solid #0D3E74; font-size: 10px; }
.BookPane .ContentLast  {border-right: 1px solid #0D3E74; }
.BookPane .ContentFoot, .BookPane .ContentFootLast  {border-left: 1px solid #0D3E74; border-bottom: 1px solid #0D3E74; font-size: 10px; }
.BookPane .ContentFootLast  {border-right: 1px solid #0D3E74; }
.BookPane .Content *, .BookPane .ContentLast *  {font-size: 10px; }
.BookPane .Foot  {padding: 5px; font-size: 10px; font-weight: normal; border-left: 1px solid #0D3E74; border-bottom: 1px solid #0D3E74; background: #E6E8ED; }
.BookPane .FootLast  {padding: 5px; font-size: 10px; font-weight: normal; border-left: 1px solid #0D3E74; background: #E6E8ED; border-left: 1px solid #0D3E74; border-right: 1px solid #0D3E74; border-bottom: 1px solid #0D3E74; }


/* searchresults.css */
.showhide .on  {}
.showhide .off  {color: #D3D9F1; }
.SearchHeader  {background-color:#0D3E74; padding:0; }
.SearchHeader .Title  {color: White; font-weight:normal; }
.SearchHeader a  {color: White; text-decoration:none; padding:0; }
.SearchHeader a:hover  {    color: White; text-decoration: underline; padding:0; }
.resultsSummary  {margin-left: 5px; border: 1px solid #CCD1E2; width:195px; }
.resultsSummary .Header  {white-space:nowrap; text-align: left; padding: 2px 5px 2px 5px; border-bottom: 1px solid #CCD1E2; background: #EFF1F3; font-size: 10px; font-weight: bold; color: #1E3248; }
.resultsSummary .Content  {text-align: left; padding: 3px 5px 2px 5px; font-size: 10px; color: #00217B; }
.resultsSummary .Content .Selected  {color:black; font-weight:bold; }
.SearchHighlight  {font-weight: bold; background: #FFE298; }
.slideBar  {border: 1px solid #CCD1E2; }
.slideBar .text  {font-size: 10px; font-weight: bold; color: #1E3248; }
pre.resultExtract  {font-size:8pt; font-family: Courier New; }


/* iterative_search.css */
.itsearchBox  {margin: 0; padding: 0; width: 100%; border-collapse: collapse; }
.itsearchBox .summaryBox  {padding: 0 3px 0 10px; overflow: hidden; background: #F2F6F9 url(/static/20070604-261/images/summaryBg.gif) 0 0 no-repeat; vertical-align: top; }
.itsearchBox .summaryBox .hdr  {margin: 0; padding: 0 3px 0 0; height: 17px; vertical-align: top; white-space: nowrap; font-size: 11px; color: #1e3248; }
.itsearchBox .summaryBox .summary  {margin: 0; padding: 3px 0 0 0; }
.itsearchBox .summaryBox .summary .p  {margin: 0 0 3px 0; padding: 0; line-height: 1.2em; }
.itsearchBox .ul  {width: 16px; height: 16px; background: #F2F6F9 url(/static/20070604-261/images/ul7.gif) 0 0 no-repeat; }
.itsearchBox .umid  {width: 11px; height: 16px; background: #F2F6F9 url(/static/20070604-261/images/umid7.gif) 0 0 no-repeat; }
.itsearchBox .ur  {width: 16px; height: 16px; background: #F2F6F9 url(/static/20070604-261/images/ur7.gif) 0 0 no-repeat; }
.itsearchBox .bl  {width: 16px; height: 17px; background: #F2F6F9 url(/static/20070604-261/images/bl7.gif) 0 0 no-repeat; }
.itsearchBox .bmid  {width: 11px; height: 17px; background: #F2F6F9 url(/static/20070604-261/images/bmid7.gif) 0 0 no-repeat; }
.itsearchBox .br  {width: 16px; height: 17px; background: #F2F6F9 url(/static/20070604-261/images/br7.gif) 0 0 no-repeat; }
.itsearchBox .topMid  {background: #F2F6F9 url(/static/20070604-261/images/topMid_bg7.gif) 0 0 repeat-x; }
.itsearchBox .topRt  {background: #F2F6F9 url(/static/20070604-261/images/topRt_bg7.gif) 0 0 no-repeat; }
.itsearchBox .leftEdge  {background: #F2F6F9 url(/static/20070604-261/images/leftEdge_bg7.gif) 0 0 repeat-y; }
.itsearchBox .rtEdge  {background: #F2F6F9 url(/static/20070604-261/images/rtEdge_bg.gif) 0 0 repeat-y; }
.itsearchBox .midCtr  {background: #F2F6F9 url(/static/20070604-261/images/midCtr_bg.gif) 0 0 repeat-x; }
.itsearchBox .midLeft  {width: 16px; height: 18px; background: #F2F6F9 url(/static/20070604-261/images/midLeft7.gif) 0 0 no-repeat; }
.itsearchBox .midRt  {width: 11px; height: 18px; background: #F2F6F9 url(/static/20070604-261/images/midRt.gif) 0 0 no-repeat; }
.itsearchBox .botMid  {background: #F2F6F9 url(/static/20070604-261/images/botMid_bg7.gif) 0 0 repeat-x; }
.itsearchBox .botRt  {background: #F2F6F9 url(/static/20070604-261/images/botRt_bg7.gif) 0 0 no-repeat; }
.itsearchBox .sumhdr_rt  {width: 16px; background: #F2F6F9 url(/static/20070604-261/images/sumBoxRtEdge7.gif) 0 0 no-repeat; }
.itsearchBox .content .sub_result  {margin: 0; padding: 0 0 0 25px; background: transparent url(/static/20070604-261/images/iterative_arr.gif) 5px 2px no-repeat; font-weight: bold; }
.itsearchBox .content  {margin: 0; padding: 4px 4px 0 4px; }
.itsearchBox .content div  {margin: 0; padding: 0 0 7px 0; }
.itsearchBox .content div a  {line-height: 1.3em; }
.itsearchBox .content .input_field  {min-width: 480px; vertical-align: middle; }
.itsearchBox .content .input_field input  {vertical-align: middle; }
.itsearchBox .content .input_field .textbox  {font-size: 10px; width: 336px; height: 16px; }
.itsearchBox .content img  {margin: 0; padding: 3px 0 0 0; vertical-align: bottom; }
.itsearchBox .content2  {margin: 0; padding: 0 0 0 4px; width: 494px; }
.slidecontainer  {width: 494px; height: 33px; }
.slidecontainer .bar  {padding: 2px 4px 0 0; height: 19px; float: left; font-size: 11px; vertical-align: bottom; }
.ctr  {margin: 0 0 7px 0; text-align: center; font-size: 11px; }
.searchresultTabs  {margin: 0 0 0 0; padding: 0; width: 100%; height: 43px; border-collapse: collapse; border: none; }
.searchresultTabs td {margin: 0; padding: 0; border: none; }
.searchresultTabs .tab  {vertical-align: bottom; }
.searchresultTabs .emptysection  {width:100%; background: #ccc url(/static/20070604-261/images/its_tabs_bg.gif) 0 0 repeat-x; }
.searchResultsSubNav  {margin: 0; width: 100%; background: #FFF url(/static/20070604-261/images/its_border_pixel.gif) 0 0 repeat-y; border-bottom: 1px solid #ced1e2; border-right: 1px solid #ced1e2; border-top: none; vertical-align: top; }
.searchResultsSubNav .coversToggle  {float: left; padding: 0 10px 7px 10px; }
.searchResultsSubNav .resultsTotal  {float: right; text-align: right; padding: 0 10px 7px 10px; }
.newSearchResults  {margin: 0; padding: 0; width: 100%; }
.newSearchResults .rt_border  {border-right: 1px solid #ced1e2; }
.newSearchResults .td  {background: transparent url(/static/20070604-261/images/its_border_pixel.gif) 0 0 repeat-y; border-bottom: 1px solid #ced1e2; padding: 7px 3px 2px 7px; vertical-align: top; }
.newSearchResults .resultnum,  .newSearchResults .resulttitle,  .newSearchResults .resulttype,  .newSearchResults .resultchapsect,  .newSearchResults .resultpub,  .newSearchResults .resultinsertdate,  .newSearchResults .resultpubdate,  .newSearchResults .resulticon  {margin: 0; padding: 2px 0 2px 7px; background: #F2F6F9 url(/static/20070604-261/images/its_border_pixel.gif) 0 0 repeat-y; border-bottom: 1px solid #ced1e2; }
.newSearchResults .resultnum  {width: 30px; text-align: right; }
.newSearchResults .resulttitle  {width: 280px; text-align: left; }
.newSearchResults .resulttype  {width: 98px; }
.newSearchResults .resultchapsect  {text-align: left; }
.newSearchResults .resultpub  {width: 90px; text-align: left; }
.newSearchResults .resultinsertdate  {width: 82px; }
.newSearchResults .resultpubdate  {width: 82px; }
.newSearchResults .resulticon  {width: 26px; text-align: center; }
.newSearchResults .small_icon  {padding: 7px; vertical-align: middle; text-align: center; }
.newSearchResults .title_src  {padding: 0 7px 0 7px; vertical-align: middle; text-align: left; }
.newSearchResults .articledescription  {}
.srccol  {width: 244px; }
.newSearchResults .metadata  {width:280px; }
.newSearchResults .metadata .bookimg  {padding: 2px 7px 5px 0; }
.newSearchResults .description  {font-size: 11px; padding:10px; }
.newSearchResults .td  {background: transparent url(/static/20070604-261/images/its_border_pixel.gif) 0 0 repeat-y; border-bottom: 1px solid #ced1e2; }
.newSearchResults .odd .td  {background: #FFF url(/static/20070604-261/images/its_border_pixel.gif) 0 0 repeat-y; border-bottom: 1px solid #ced1e2; }
.newSearchResults .even .td  {background: #F2F6F9 url(/static/20070604-261/images/its_border_pixel.gif) 0 0 repeat-y; border-bottom: 1px solid #ced1e2; }
.texalign_ctr  {text-align: center; }
.texalign_rt  {text-align: right; }
.valign_mid  {vertical-align: middle; }
.newSearchResults .tableFooter  {border-bottom: none; padding-right:10px; }
.newSearchResults .resultsTotal  {float: right; text-align: right; }
.newSearchResults .tableFooterLeft  {height: 7px; background: #FFF url(/static/20070604-261/images/botLeftTableCorner.gif) no-repeat 0 0; border-bottom: none; border-right: none; }
.newSearchResults .tableFooterRight  {height: 7px; background: #FFF url(/static/20070604-261/images/botRtTableCorner2.gif) no-repeat right 0; border-bottom: none; border-right: none; }
.contentBorderTable  {margin: 0; padding: 0; width: 100%; min-width: 750px; border-collapse: collapse; }
.contentBorderTable .contentCell  {margin: 0; padding: 3px 10px 17px 10px; }
.contentBorderTable .contentBorder_tl  {margin: 0; padding: 0; width: 7px; height: 7px; background: transparent url(/static/20070604-261/images/contentBorder_tl.gif) 0 0 no-repeat; }
.contentBorderTable .contentBorder_tr  {margin: 0; padding: 0; width: 7px; height: 7px; background: transparent url(/static/20070604-261/images/contentBorder_tr.gif) right 0 no-repeat; }
.contentBorderTable .contentBorder_mt  {margin: 0; padding: 0; background: transparent url(/static/20070604-261/images/contentBorder_mt.gif) 0 0 repeat-x; }
.contentBorderTable .contentBorder_ml  {margin: 0; padding: 0; background: transparent url(/static/20070604-261/images/contentBorder_ml.gif) 0 0 repeat-y; }
.contentBorderTable .contentBorder_mr  {margin: 0; padding: 0; background: transparent url(/static/20070604-261/images/contentBorder_mr.gif) 0 0 repeat-y; }
.contentBorderTable .contentBorder_mb  {margin: 0; padding: 0; border-bottom: 1px solid #ced1e2; }
.pag_separator  {color:silver; }
.Title  {font-weight:bold; }


/* roughcuts.css */
.RoughCuts .p  {text-align: left; }
.RoughCuts .Border  {border-color:black; border-style: solid; border-width:1px; }
.RoughCuts .Title  {color:white; font-size:1.5em; font-weight:bold; }
.RoughCuts .Text  {color: white; }
.RoughCuts .PanelTitle  {background-color:black; }
.RoughCuts .PanelTitle a  {color:white; text-decoration: underline; }
.RoughCuts .PanelTitle a:hover  {    color:white; text-decoration: underline; }
.RoughCuts .MainPanel  {padding: 15px; }
.RoughCuts .TableHead  {font-weight:bold; border-bottom-width:1px; border-bottom-color:black; border-bottom-style: solid; padding-top:15px; }
.RoughCuts .TableFoot  {background-color:#FFFF99; border-top-width:1px; border-top-color:#333333; border-top-style:solid; border-bottom-width:1px; border-bottom-color:#333333; border-bottom-style:solid; }
.RoughCutsList .ListItem  {padding:2px 0 10px 0; border-top: 1px solid #BBBBBB; }
.RoughCutsList .ListItem .Infos  {}
.RoughCutsList .ListItem .Description  {padding-bottom:1em; }
.RoughCuts .SummaryTable td  {text-align: left; }


/* guides.css */
.Guide img  {margin-right: 1em; }


/* expandtree.css */
.ExpandTree  {}
.ExpandTree tr  {vertical-align: top; }
.ExpandTree .icon img  {margin-top: 2px; }
.ExpandTree a.selected  {font-weight: bold; color: #000000; }


/* affiliates.css */
.Affiliates  {}
.Affiliates .Welcome, .Affiliates .Strong  {font-size:1.5em; color:#336; line-height:1.7em; }
.Affiliates .Strong  {font-size:1.7em; color:#CC6600; }
.Affiliates .Welcome .Strong  {font-size:1.2em; }
.Affiliates .Links  {}
.Affiliates .Link  {}
.Affiliates .Link a  {display: block; font-weight: bold; font-size: 8pt; text-decoration: none; padding: 5px; padding-left: 10px; padding-right: 10px; font-size: 110%; }
.Affiliates .Link a:hover  {    color: #ffffff; background-color: #A6AFBE; }
.Affiliates .Exp  {vertical-align: 4px; }


/* book.css */
.previewRedText  {font-size: 12px; color: #A61D28; font-weight: bold; }
.AdditionalReading  {width:100%; margin-top: 30px; }
.AdditionalReading .Header  {background: #D4D7E6; padding-left: 10px; }
.AdditionalReading .Title  {font-weight: bold; font-size: 11px; color: #1E3248; }
.AdditionalReading .Description  {padding: 10px; border-right: 1px solid #B8BDD5; border-left: 1px solid #B8BDD5; border-bottom: 1px solid #B8BDD5; }
.AdditionalReading .Number  {padding: 6px 0 0 10px; border-left: 1px solid #B8BDD5; border-bottom: 1px solid #B8BDD5; }
.AdditionalReading  .Results  {padding: 6px 10px 6px 3px; border-right: 1px solid #B8BDD5; border-bottom: 1px solid #B8BDD5; }
.altContentTable {margin-top: 20px; }
.contenttable {margin: 0; }
.bookContentTitle {font-size: 10px; }
.BottomPart .bookContentTitle {}
.bookContentTitle img {margin-top: 3px; }
.widgetRow {}
.widgetnav {color: #C5CBD4; height: 16px; padding: 2px 0 -2px 0; margin: 0; }
.widgetnav .item {margin: 0; padding: 4px 0 0 0; white-space: nowrap; font-size: 10px; }
.widgetnav .none, .widgetnav .print, .widgetnav .email, .widgetnav .note, .widgetnav .bookmark, .widgetnav .download, .widgetnav .downloadrc {display: inline; float: left; padding:0 0 0 0.4em; }
.widgetnav .download {background: url(/static/20070604-261/images/pdf_icon_top.gif) no-repeat 2.5em -2px; padding-right: 20px; }
.widgetnav .downloadrc {background: url(/static/20070604-261/images/pdf_icon_top.gif) no-repeat 2.5em -2px; padding-right: 20px; }
.widgetnav .none {padding: 1px 1px 1px 0; }
.relatedLinks  {color: #fff; }
.AncillaryLinks  {background: url("/static/20070604-261/images/contentbar_center.gif"); margin-bottom: 3px; clear:both; }
.AncillaryLinks a  {font-size: 10px; color: #00217B; }
.TopInformation  {padding:5px; border-top: 1px solid #C5CBD4; }
.TopInformationVideo  {padding-bottom:10px; border-bottom: 1px solid #C5CBD4; }
.zoomToggle  {font-size: 10px; color: #000; }
.zoomToggle .off {color: #D3D9F1; }
.pf_pagination {color: #333; font-size: 10px; }
.ExpandButton  {cursor:pointer; cursor:hand; }
.ExpandButton .ExpandTop  {width:100%; height:1em; border-left:1px solid #CDD1E2; border-right:1px solid #CDD1E2; border-bottom:1px solid #CDD1E2; }
.DescriptionShort  {height:auto; overflow:hidden; width:100%; cursor:pointer; cursor:hand; }
.DescriptionShort .Title  {margin: 0 0 1em 0; padding: 0; font-size: 15px; font-weight: bold; color: #6D7288; }
.CenterTable  {}
.CenterTable .Cell  {border-top:1px solid #0d3f74; border-left:1px solid #0d3f74; border-right:1px solid #0d3f74; border-bottom:1px solid #0d3f74; }
.CenterTable .Header  {color:white; font-weight:bold; background-color:#0d3f74; vertical-align:middle; }
.jump {margin: 0; padding: 0 0 0 0; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC; background-color: #FFF; font-family: Verdana, Sans-Serif; font-size: 11px; }
.jump td {margin: 0px; padding: 3px 3px 3px 3px; }
.jump a {font-weight: bold; text-decoration: none; color: #000; padding: 3px 3px 3px 3px; }
.jump a.active, .jump a:hover {    background-color: #EDEDED; color: #990000; }
.jump span {font-weight: bold; text-decoration: none; color: #000; padding: 3px 3px 3px 3px; }
.Entries td  {font-family: verdana, sans-serif; font-size: 11px; font-weight: normal; color: #000; padding: 3px; }
.Entries .hrb  {border-bottom: 1px solid #CCC; }
.Entries h1  {font-family: arial, sans-serif; font-size: 16px; font-weight: bold; color: #000; }
.Entries h2  {font-family: arial, sans-serif; font-size: 14px; font-weight: bold; color: #000; }
.Entries h3  {font-family: arial, sans-serif; font-size: 24px; font-weight: bold; color: #000; }
.Entries h1, .Entries h2, .Entries h3, .Entries h4, .Entries h5, .Entries h6  {padding:0; margin:0; color:#354278; }
.Entries .Letter  {margin:0; padding:0 0 0 2em; }
.refentryTitle  {font-family: arial, sans-serif; font-size: 16px; font-weight: bold; color: #000; }
.PreviewRipTop  {width:100%; height:47px; background-image: url('/static/20070604-261/images/riptop.gif'); background-repeat: no-repeat; }
.PreviewRipBottom  {width:100%; height:47px; background-image: url('/static/20070604-261/images/ripbot.gif'); background-repeat: no-repeat; }
.bookViewerOff {background: #E0E0E0; }
.bookViewerOn {background: #C7C7C7; cursor: pointer; }
.codeSegmentsExpansionLinks span  {color: #CCC; }
.codeSegmentsExpansionLinks a, .codeSegmentsExpansionLinks a:hover  {      color: #00217B; text-decoration: underline; }


/* suggest.css */
#suggestionlist   {position: absolute; min-width: 180px; margin: 1px 0px 2px 0px; padding: 0px; border:1px solid #b7bcd5; cursor: default; z-index: 1000; }
.DropDownResults   {position: relative; bottom: 0px; right: 0px; background-color: #fce09a; padding: 2px; }
#DropDownActive   {color: white ; background-color: #3063b0; }


/* tabulardata.css */
.tabularData {background: transparent; margin-top: 10px; }
.tabularData2 {background: transparent; margin-top: 30px; }
.tabularData .cornerTabs, .tabularData2 .cornerTabs {background: #0d3f74; }
.tabularData .tableTab, .tabularData2 .tableTab {background: #0d3f74; padding: 6px 6px 6px 12px; font-weight: normal; color: #FFF; }
.tabularData .topLine, .tabularData2 .topLine {background: #0d3f74; }
.tabularData .tableTab a:link, .tabularData .tableTab a:visited, .tabularData .tableTab a:active {     font-weight: normal; color: #FFF; }
.tabularData2 .tableTab a:link, .tabularData2 .tableTab a:visited, .tabularData2 .tableTab a:active {     font-weight: normal; color: #FFF; }
.tabularData .stdHdrL, .tabularData2 .stdHdrL {background: #eff1f3; border-left: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; padding: 6px 3px 6px 6px; font-weight: normal; font-size: 10px; color: #4c5a6f; }
.tabularData .stdHdrM, .tabularData2 .stdHdrM {background: #eff1f3; border-bottom: 1px solid #ccd1e2; padding: 6px 3px 6px 3px; font-weight: normal; font-size: 10px; color: #4c5a6f; }
.tabularData .stdHdrR, .tabularData2 .stdHdrR {background: #eff1f3; border-bottom: 1px solid #ccd1e2; border-right: 1px solid #ccd1e2; padding: 6px 6px 6px 3px; font-weight: normal; font-size: 10px; color: #4c5a6f; }
.tabularData .stdContentL, .tabularData2 .stdContentL {background: #FFF; border-left: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; padding: 6px 0 6px 6px; font-size: 10px; }
.tabularData .stdContentLalt, .tabularData2 .stdContentLalt {background: #FFF; border-left: 1px solid #ccd1e2; border-right: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; padding: 6px 6px 6px 6px; font-size: 10px; }
.tabularData .stdContentM, .tabularData2 .stdContentM {background: #FFF; border-right: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; padding: 6px 3px 6px 3px; font-size: 10px; }
.tabularData .stdContentTop, .tabularData2 .stdContentTop {background: #FFF; border-top: 1px solid #ccd1e2; font-size: 10px; }
.tabularData .stdContentMradio, .tabularData2 .stdContentMradio {background: #FFF; border-bottom: 1px solid #ccd1e2; padding: 2px 0 2px 0; font-size: 10px; }
.tabularData .stdContentMalt, .tabularData2 .stdContentMalt {background: #FFF; border-bottom: 1px solid #ccd1e2; padding: 6px 0 6px 3px; font-size: 10px; }
.tabularData .stdContentR, .tabularData2 .stdContentR {background: #FFF; border-right: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; padding: 6px 6px 6px 3px; font-size: 10px; }
.tabularData .stdContentB, .tabularData2 .stdContentB {background: #FFF; border-left: 1px solid #ccd1e2; border-right: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; padding: 6px; font-size: 10px; }
.tabularData .stdContentB_blu, .tabularData2 .stdContentB_blu {background: #eff1f3; border-left: 1px solid #ccd1e2; border-right: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; padding: 6px; font-size: 10px; }
.tabularData .tabs img, .tabularData2 .tabs img {padding-right: 10px; white-space: nowrap; }
.tabularData .stdContentL select, .tabularData .stdContentM select, .tabularData .stdContentR select, .tabularData .stdContentLalt select, .tabularData .stdContentMalt select {font-size: 10px; }
.tabularData3 {background: transparent; margin-top: 15px; }
.tabularData3 .stdHdrL {background: #eff1f3; border-top: 1px solid #ccd1e2; border-left: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; padding: 3px 6px 3px 6px; font-weight: normal; font-size: 11px; color: #000; }
.tabularData3 .stdHdrM {background: #eff1f3; border-top: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; padding: 3px 6px 3px 6px; font-weight: normal; font-size: 11px; color: #000; }
.tabularData3 .stdHdrR {background: #eff1f3; border-top: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; border-right: 1px solid #ccd1e2; padding: 3px 6px 3px 6px; font-weight: normal; font-size: 11px; color: #000; }
.tabularData3 .stdContentL {background: #FFF; border-left: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; padding: 6px 0 6px 6px; font-size: 11px; }
.tabularData3 .stdContentLalt {background: #FFF; border-left: 1px solid #ccd1e2; border-right: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; padding: 6px 6px 6px 6px; font-size: 11px; }
.tabularData3 .stdContentM {background: #FFF; border-right: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; padding: 6px 3px 6px 3px; font-size: 11px; }
.tabularData3 .stdContentMalt {background: #FFF; border-bottom: 1px solid #ccd1e2; padding: 6px 0 6px 3px; font-size: 11px; }
.tabularData3 .stdContentR {background: #FFF; border-right: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; padding: 6px 6px 6px 3px; font-size: 11px; }
.tabularData3 .stdContentB {background: #FFF; border-left: 1px solid #ccd1e2; border-right: 1px solid #ccd1e2; border-bottom: 1px solid #ccd1e2; padding: 6px; font-size: 11px; }
.pageTab {font-size: 10px; color: #999999; }
.pageTab a {font-size: 10px; font-weight: bold; }
.grouping {padding: 0 0 24px 0; }
.grouping .p {margin: 0; padding: 0 0 4px 0; }


/* feature.css */
.featureHdr {padding: 0; border-right: 1px solid #FFF; background: #0D3E74; }
.featureHdrR {padding: 0; background: #0D3E74; }
.featureFtr {padding: 0; border-left: 1px solid #0D3E74; border-bottom: 1px solid #0D3E74; background: #E6E8ED; }
.featureFtrR {padding: 0; border-left: 1px solid #0D3E74; border-right: 1px solid #0D3E74; border-bottom: 1px solid #0D3E74; background: #E6E8ED; }
.featureFtr2 {padding: 0; border-left: 1px solid #0D3E74; border-bottom: 1px solid #0D3E74; }
.featureFtr2R {padding: 0; border-left: 1px solid #0D3E74; border-right: 1px solid #0D3E74; border-bottom: 1px solid #0D3E74; }
.feature {padding: 15px 15px 0 15px; border-left: 1px solid #0D3E74; }
.featureR {padding: 15px 15px 0 15px; border-left: 1px solid #0D3E74; border-right: 1px solid #0D3E74; }


/* formtables.css */
.formTable {}
.formTable .gutter {border-bottom: 1px solid #CCD1E2; }
.formTable .labels {padding: 3px 5px 3px 5px; }
.formTable .msg_rt {padding: 3px 5px 3px 5px; border-left: 1px dashed #B8BDD5; }
.formTable .elementRadio {padding: 1px 0 4px 0; }
.formTable .elementCheck {padding: 2px 0 3px 0; }
.formTable .elementRadioBg {padding: 1px 0 4px 0; background: #EFF1F3; }
.formTable .elementText {padding: 3px 1px 3px 5px; }
.loginText {width: 293px; font-size: 10px; }
.selectText {width: 293px; min-width:297px; max-width:297px; font-size: 10px; }
.selectText2 {width: 80px; font-size: 10px; }
.selectText3 {font-size: 10px; }
.text10 {font-size: 10px; }
.textarea10 {font-size: 10px; }
.formTable .elementText_rt {padding: 3px 9px 3px 5px; }
.formTable .elementTextBg {padding: 3px 1px 3px 5px; background: #EFF1F3; }
.formTable .label {padding: 3px 2px 3px 2px; }
.formTable textarea {text-align: left; font-family: verdana, sans-serif; font-size: 11px; }
.asterisk {font-size: 11px; color: #AC1417; font-weight: bold; }
.formTable .button_rt {padding: 3px 8px 3px 5px; }


/* marketingbox.css */
.stdMarketingBox {background: #EAEBF2; padding:0; margin:0; }
.stdMarketingBox .Top {border-top:1px solid #D2D5E4; }
.stdMarketingBox .Center {padding-left:10px; border-left:1px solid #D2D5E4; border-right:1px solid #D2D5E4; }
.stdMarketingBox .Bottom {border-bottom:1px solid #D2D5E4; }


/* discrete.css */
.discrete_big_title  {border-left:2px solid white; padding:5px 0 5px 10px; font-size:larger; color:white; font-weight: bold; width:*; }
.discrete_small_title  {}
.discrete_big_code  {padding:5px 0 5px 0; font-size:larger; color:white; font-weight: bolder; width:35px; }
.discrete_small_code  {padding:2px 0 2px 0; font-size:10px; color:white; font-weight: bolder; width:25px; height:23px; }
.discreteTable  {background: transparent; margin-top: 10px; border:1px solid #ccd1e2; }
.discreteTable .stdContent  {background: #FFF; padding: 6px 6px 6px 6px; font-size: 10px; }
.discreteTable .stdFooter  {background: #FFF; padding: 0 3px 3px 0; font-size: 10px; }
.DiscreteLibraryList  {}
.DiscreteLibraryList .Header  {background: #eff1f3; padding:5px 5px 5px 2px; border-top: 1px solid #BBBBBB; border-bottom: 1px solid #BBBBBB; font-weight: normal; font-size: 10px; color: #4c5a6f; }
.DiscreteLibraryList .ListItem  {padding:3px 5px 3px 2px; border-bottom: 1px solid #BBBBBB; }
.BookPane .DiscreteFoot  {background-color:white; }
.includedinlibraries  {border:1px solid #C5CBD4; color:#B8BDD5; background-color:#E6E8ED; }


/* invoice.css */
@media print;
{.invoicebtns {    display: none; }
}
.invoice {padding: 25px 0 0 0; width: 620px; }
.invoicebtns {border: none; margin: 25px 0 0 0; width: 700px; text-align: right; }
.invoiceTable {border: 1px solid #000; padding: 20px 20px 40px 20px; }
.invoiceTable .lftRtTop {border-left: 1px solid #000; border-right: 1px solid #000; border-top: 1px solid #000; padding-left: 3px; padding-right: 3px; }
.invoiceTable .rtTop {border-right: 1px solid #000; border-top: 1px solid #000; padding-left: 3px; padding-right: 3px; }
.invoiceTable .lftRtTopBot {border: 1px solid #000; padding-left: 3px; padding-right: 3px; }
.invoiceTable .rtTopBot {border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000; padding-left: 3px; padding-right: 3px; }
.invoiceTable .lftTop {border-left: 1px solid #000; border-top: 1px solid #000; padding-left: 3px; padding-right: 3px; }
.invoiceTable .top {border-top: 1px solid #000; padding-left: 3px; padding-right: 3px; }
.invoiceTable .lft {border-left: 1px solid #000; padding-left: 3px; padding-right: 3px; }
.invoiceTable .rt {border-right: 1px solid #000; padding-left: 3px; padding-right: 3px; }
.invoiceTable .lftRtBot {border-right: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000; padding-left: 3px; padding-right: 3px; }


/* video.css */
.cc_toggle {margin: 10px 0 0 0; padding: 10px 0 0 0; }
.cc_toggle .cc_widgets {padding: 0; border-top: 1px solid #c7c9d2; border-right: 1px solid #c7c9d2; border-bottom: 1px solid #c7c9d2; }
.cc_toggle .cc_icon {padding: 5px 0 5px 38px; background: #FFF url(/static/20070604-261/images/icon_cc.gif) 0 0 no-repeat; border-top: 1px solid #c7c9d2; border-left: 1px solid #c7c9d2; border-bottom: 1px solid #c7c9d2; font-size: 10px; color: #74798F; font-weight: bold; }
.cc_toggle .cc_icon_off {padding: 1px 0 1px 38px; background: #FFF url(/static/20070604-261/images/icon_no_cc.gif) 0 0 no-repeat; border: 1px solid #c7c9d2; font-size: 10px; color: #74798F; font-weight: normal; }
.videoTOC {margin: 0 0 18px 0; }
.videoHdr {vertical-align:middle; height:25px; background: #EFF1F3; border-top: 1px solid #CCD1E2; border-bottom: 1px solid #CCD1E2; padding: 0 15px 0 15px; font-weight: bold; font-size: 10px; color: #000; }
.videoHdrL {height:25px; padding: 0 15px 0 5px; }
.videoRow {background: transparent; border-bottom: 1px solid #CCD1E2; padding: 8px 15px 8px 15px; font-weight: normal; font-size: 10px; color: #000; }
.videoRowData {font-weight: bold; color: #999; }
.videoRow a {font-weight: bold; }
.videoRowL {border-left: 1px solid #CCD1E2; }
.videoRowR {border-right: 1px solid #CCD1E2; }
.videoRowChapter {font-weight: bold; }
.videoRowSection {font-weight: bold; color: #999; }
.bannerBox {margin: 0 0 20px 0; padding: 0 0 0 0; overflow: hidden; height: 118px; min-width: 545px; background: transparent url(/static/20070604-261/images/resultsBannerL.gif) 0 0 no-repeat; }
.searchResultsBanner  {margin: 0; padding: 0; height: 118px; background: transparent url(/static/20070604-261/images/resultsBannerR.gif) right 0 no-repeat; border: none; overflow: hidden; }
.searchResultsBanner .tab {margin: 0; padding: 0; width: 125px; height: 37px; text-align: center; }
.searchResultsBanner .tab .p {margin: 0; padding: 12px 0 0 0; text-align: center; font-weight: bold; font-size: 13px; color: #FF0000; }
.searchResultsBanner .content img {margin: 0; padding: 0; float: left; }
.searchResultsBanner .content .left {margin: 0; padding: 0; float: left; text-align: left; }
.searchResultsBanner .content .left .p {margin: 0; padding: 12px 7px 7px 30px; }
.searchResultsBanner .content .left .p a {font-weight: bold; }
.searchResultsBanner .content .right {margin: 0; padding: 50px 20px 0 0; width: 300px; min-width: 270px; float: right; text-align: right; }


/* labscommon.css */
.labsModuleHdr  {margin: 0; padding: 0; height: 30px; background: #cdd1e2 url(/static/20070604-261/images/labsModuleHdr_left.gif) 0 0 no-repeat; overflow: hidden; }
.labsModuleHdr .moduleHdr  {margin: 0; padding: 5px 0 0 12px; height: 30px; background: transparent url(/static/20070604-261/images/labsModuleHdr_rt.gif) right 0 no-repeat; overflow: hidden; color: #0d3e74; font-size: 17px; font-weight: normal; }
.labsModule  {margin: 0 0 20px 0; padding: 16px; border-left: 1px solid #cdd1e2; border-right: 1px solid #cdd1e2; border-bottom: 1px solid #cdd1e2; }
.labsModule .icon  {margin: 0; padding: 0; width: 85px; float:left; }
.labsModule .copy  {margin: 0 0 0 85px; padding: 0; }
.labsModule .copy .title  {margin: 0 0 7px 0; padding: 0; color: #41455f; font-size: 12px; font-weight: bold; }
.labsModule .copy p  {margin: 0 0 12px 0; padding: 0; }
.clearit  {clear: both; }
.labs_funct_box  {margin: 0; padding: 0; background: transparent url(/static/20070604-261/images/labs_funct_box_tl2.gif) 0 0 no-repeat; }
.labs_funct_box_content  {margin: 0; padding: 10px 12px 0 12px; background:  url(/static/20070604-261/images/labs_funct_box_tr.gif) right 0 no-repeat; }
.labs_funct_box_footer  {margin: 0; padding: 0; height: 8px; background: transparent url(/static/20070604-261/images/labs_funct_box_bl2.gif) 0 bottom no-repeat; }
.labs_funct_box_footer_content  {margin: 0; padding: 0; height: 8px; background:  url(/static/20070604-261/images/labs_funct_box_br.gif) right bottom no-repeat; }


/* labsfeedback.css */
.safari_labs_feedback  {margin: 0; padding: 0; }
.feedbackform  {margin: 0; padding: 0; border-collapse: collapse; background: transparent; }
.feedbackform .label  {margin: 0; padding: 2px 4px 0 0; width: 144px; font-weight: bold; text-align: right; vertical-align: top; }
.feedbackform .dialog  {margin: 0; padding: 2px 0 7px 3px; font-size: 9px; }
.feedbackform .elem2  {margin: 0; padding: 0 0 7px 4px; width: 350px; }
.feedbackform .elem2 input  {margin: 0; padding: 1px 0 1px 3px; width: 240px; font-family: verdana, sans-serif; font-size: 10px; background: #FFF; }
.feedbackform .elem  {margin: 0; padding: 0 0 7px 4px; width: 350px; }
.feedbackform .elem select  {width: 240px; font-family: verdana, sans-serif; font-size: 10px; background: #FFF; }
.feedbackform .elem select option  {background: #FFF; }
.feedbackform .elem textarea  {margin: 0; padding: 0 0 0 3px; width: 347px; font-family: verdana, sans-serif; font-size: 10px; background: #FFF; }
.feedbackform .messaging  {margin: 0; padding: 0 4px 7px 4px; font-weight: bold; }
.feedbackform .messaging .errmsg, .feedbackform .messaging .confirmation  {margin: 4px 0 4px 0; padding: 0 0 0 30px; border: 1px solid #f7c752; vertical-align: middle; line-height: 26px; color: #730c08; font-weight: bold; }
.feedbackform .errmsg  {background: #FFF url(/static/20070604-261/images/msg_alert.gif) 0 0 no-repeat; }
.feedbackform .confirmation  {background: #FFF url(/static/20070604-261/images/msg_confirm.gif) 0 0 no-repeat; }
.feedbackform .btn_submit  {margin: 0; padding: 0 0 20px 0; text-align: right; }
.vtop  {vertical-align: top; }


/* style.css */
p.targetnav1 {padding: 0; margin-top: 5px; margin-bottom: 0; }
.labsModule {min-width: 708px; }
#labs_branding_banner {margin: 0 0 20px 0; padding: 0; height: 152px; overflow: hidden; background: #e7e8ec url(/static/20070604-261/images/labs_branding_banner.gif) 0 0 no-repeat; }
#labs_branding_banner div {margin: 0; padding: 26px 10px 10px 204px; height: 152px; overflow: hidden; background: transparent url(/static/20070604-261/images/labs_branding_banner_rt.gif) right 0 no-repeat; }
#labs_branding_banner div p {margin: 0 0 12px 0; padding: 0; }
h4.title2 {margin: 0 0 7px 0; padding: 7px 0 0 0; color: #41455f; font-size: 12px; font-weight: bold; }
.ct {display: block; font-size: 0; line-height: 0; margin: 0; height: 6px; width: 100%; position: relative; top: -1px; right: -1px; }
.ct .cl {display: block; font-size: 0; line-height: 0; margin: 0; height: 6px; width: 6px; position: relative; left: -2px; }
.cb {display: block; clear: both; font-size: 0; line-height: 0; margin: 0; height: 6px; width: 100%; position: relative; bottom: -1px; right: -1px; }
.cb .cl {display: block; font-size: 0; line-height: 0; margin: 0; height: 6px; width: 6px; position: relative; left: -2px; }
.saf_i_box {border: 1px solid #CED3E7; background: #E7EBEF; margin: 15px 0; }
.saf_i_box .ct {background: transparent url(/static/20070604-261/images/up_rt.gif) no-repeat top right; }
.saf_i_box .ct .cl {background: transparent url(/static/20070604-261/images/up_lt.gif) no-repeat top left; }
.saf_i_box .cb {background: transparent url(/static/20070604-261/images/dn_rt.gif) no-repeat bottom right; }
.saf_i_box .cb .cl {background: transparent url(/static/20070604-261/images/dn_lt.gif) no-repeat bottom left; }
.saf_i_box div {margin: 0; padding: 7px; }
.saf_i_box div p {margin: 0; padding: 0; }


/* billing.css */
.billingHdr {background: #EFF1F3; border-top: 1px solid #CCD1E2; border-bottom: 1px solid #CCD1E2; padding: 0 15px 0 15px; font-weight: bold; font-size: 10px; color: #000; }
.billingHdrL {padding: 0 15px 0 5px; }
.billingRow {background: transparent; border-bottom: 1px solid #CCD1E2; padding: 8px 15px 8px 15px; font-weight: normal; font-size: 10px; color: #000; }
.billingRowL {padding: 8px 15px 8px 5px; }
.billingRowDesc {font-weight: bold; }
.billingRow a {font-weight: bold; }
.billingDetail .header  {padding-top: 1em; padding-bottom: 4px; font-weight: bold; }
.billingDetail .billingInfo, .billingDetail .shippingInfo  {border-top: 1px solid #B8BDD5; }
.billingDetail .billingInfo  {border-right: 1px solid #B8BDD5; }
.billingDetail .shippingInfo  {padding-left: 12px; }
.billingDetail td  {padding-top: 4px; padding-bottom: 4px; }
.billingDetail .shippingLabel  {width: 140px; }
.billingDetail input.shippingField  {width: 200px; }
.billingDetail select.shippingField  {width: 200px; min-width: 204px; max-width: 204px; font-size: 11px; font-family: verdana, sans-serif; }
.billingDetail td.shippingReq  {padding: 0; padding-right: 6px; }
.billingDetail .grouping td  {padding-top: 4px; padding-bottom: 4px; }
.charged .billingInfo, .charged .shippingInfo  {border: none; }
.billingDetail .grouping  {padding: 0; }
.billingDetail .paymentMethod  {padding-top: 1.5em; }

