BODY {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;}
TABLE {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;}
SELECT {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;background:#FFFFFF;}
INPUT {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;background:#FFFFFF;}
A {text-decoration:none;}
FIELDSET {border:none}
LEGEND {color:#000000;}

.b24-title0 {font-size:14px;font-weight:bold;color:#000000;}
.b24-title1 {font-size:14px;font-weight:bold;color:#800000;}
.b24-title2 {font-size:12pX;font-weight:bold;color:#000000; background:#DFE6FF;letter-spacing: .1em;text-transform: capitalize;}
.b24-title3 {font-size:12pX;font-weight:bold;color:#000000; background:#DFE6FF;letter-spacing: .1em;text-transform: capitalize;}
.b24-title4 {font-size:11pX;font-weight:bold;color:#000000;}
.b24-title5 {font-size:11pX;font-weight:bold;color:#000000;background:#ffcc00;letter-spacing: .1em;}
.b24-title6 {font-size:11pX;font-weight:bold;color:#000000;background:#efefef;letter-spacing: .1em;padding:2px;}
.b24-aside {font-style:italic;color:#999999;}
.bigbanner {font-size:18px;font-weight:bold;}

.b24-searchbar {font-family:arial,helvetica,sans-serif, sans-serif;font-size:11px;color:#FFFFFF;background:#5E7ABB;}
.b24-searchbar-link {font-weight:bold;font-size:9px;color:#FFFFFF;}
.b24-searchbar FORM TR TD SELECT {color:#000000;background:#FFFFFF;border:none;}
.b24-searchbox  {font-family:arial,helvetica,sans-serif, sans-serif;font-size:11px;color:#FFFFFF;background:#5E7ABB;font-weight:normal;}
.b24-searchbox2 {font-family:arial,helvetica,sans-serif, sans-serif;font-size:11px;color:#5E7ABB;font-weight:bold;}

.b24-searchresults-title {font-size:11px;font-weight:bold;color:#000000;padding-bottom:5px;background:#ffffff;}
.b24-searchresults-item {color:#000000;font-weight:normal;font-size:11px;background:#ffffff;}
.b24-searchresults-item a {color:#8D9BBB;font-weight:normal;font-size:11px;background:#ffffff;text-decoration:underline;}

.b24-advschtitle {font-family:Arial, Verdana , Helvetica, sans-serif;font-size:12pX;font-weight:bold;color:#000000 ; letter-spacing: .1em;text-transform: capitalize;padding:2px;}
.b24-advsearchresult-link {FONT-SIZE: 11px; COLOR: #000000; font : italic; text-decoration : underline; PADDING-left: 5px;}
.b24-advsearchbookbin {background:#BACFBD;}
.b24-advsearchbookbin-item {background:#BACFBD;font-family:arial,helvetica,sans-serif, sans-serif;font-size:12px;font-weight:bold;}
.b24-searchresults-title {font-size:11px;font-weight:bold;color:#000000;padding-bottom:5px;background:#ffffff;}
.b24-searchresults-item {color:#000000;font-weight:normal;font-size:11px;background:#ffffff;}
.b24-searchresults-item a {color:#8D9BBB;font-weight:normal;font-size:11px;background:#ffffff;text-decoration:underline;}

.b24-userbar {font-family:arial,helvetica,sans-serif;font-size:12px;}
.b24-userbar-name {font-weight:bold;padding-left:9px;}
.b24-userbar-date {}
.b24-userbar-text {font-size:9px;color:#000000;}
.b24-userbar-label {font-size:9px;color:#000000;}
.b24-userbar-input {font-size:10px;}

.b24-browsetools {align:right;}

.b24-userbrand {font-family:arial,helvetica,sans-serif;font-size:11px;color:#0E25AB;}

.b24-sortbar {font-family:arial,helvetica,sans-serif;font-size:12px; }
.b24-sortbar-input {font-size:10px;}

.b24-folderbar {font-size:10px;color:#000000;background:#ffffff;}
.b24-folderbar-text {font-size:11px;color:#000000;}
.b24-folderbar-label0 {background:#5E7ABB;color:#FFFFFF;}
.b24-folderbar-label1 {background:#5E7ABB;color:#FFFFFF;font-weight:bold;}
.b24-folderbar-label2 {background:#99CCFF;color:#000000;}
.b24-folderbar-selected {background:#FFFFFF;border-top:solid #5E7ABB 1px;border-bottom:solid #5E7ABB 1px;border-left:solid #5E7ABB 1px;}
.b24-folderbar-selected2 {background:#FFFFFF;border-top:solid #5E7ABB 1px;border-bottom:solid #5E7ABB 1px;}
.b24-folderbar-selectednot {background:#CCE5FF;}
.b24-folderbar-system {background:#CCE5FF;}
.b24-folderbar-userfolder {background:#CCE5FF;}
.b24-folderbar-systemflag {color:#FF0000;font-weight:bold;}
.b24-folderbar-edit {background:#5E7ABB;color:#CCE5FF;font-weight:bold;}
.b24-folderbar-hasbook {background:#FFEB8A;}

.b24-folderitem {font-family:Verdana,Arial,Helvetica;font-size:10px;color:#808080;}
.b24-folderitem-subtitle {font-family:Verdana,Arial,Helvetica;font-size:10px;color:#404040;}
.b24-folderitem-title {font-family:Verdana,Arial,Helvetica;font-size:10px;color:#000000}
.b24-folderitem-title2 {font-family:Times New Roman,serif;font-size:13px;color:#000000;font-weight:normal;}

.b24-editfolderbar-link A{font-family:Verdana,arial,helvetica,sans-serif;font-size:11px;color:#FFFFFF;background:#5E7ABB;}

.b24-relatedinfo {font-family:Verdana,arial,helvetica,sans-serif;font-size:11px;color:white;}
.b24-relatedinfo-title {font-weight:bold;}
.b24-relatedinfo-link {color:white;}
.b24-relatedinfo-item {color:white;}

.b24-topic-current {font-size:10px;font-weight:bold;color:maroon;background:#99CCFF;}
.b24-topic1 {font-size:12px;text-indent:-15px;}
.b24-topic2 {font-size:10px;text-indent:-15px;}
.b24-topiclist {display:inline;}
.b24-topictreelist {padding:3px;}
.b24-topictitle {font-size:12px;font-weight:bold;color:#000000; background:#FFCC00;letter-spacing: .2em;padding-top:3px;}
.b24-topictitle2 {font-family:Verdana, Arial, Helvetica;font-size:10px;font-weight:bold;color:#000000;}
.b24-topicdescription {font-family:Verdana, Arial, Helvetica;font-size:10px;font-weight:normal;color:#000000;}
.b24-topicitemlink {font-family:verdana, arial,helvetica;font-size:10px;color:#0E25AB;font-weight:bold;}
.b24-topicitem {font-family:verdana, arial, helvetica;font-size:10px;color:#0E25AB;font-weight:bold;}
.b24-topicselected {font-family:Arial, Helvetica;font-size:10px;font-weight:bold;color:#000000;}
.b24-topiccount {font-family:Arial, Helvetica;font-size:10px;color:#666666;}
.b24-topicsbookcount {font-family:Arial, Helvetica;font-size:10px;color:#666666;font-weight:normal;}

.b24-searchquery {color:#336699;font-weight:bold;font-size:12px;}

.b24-topictrail {font-family:Verdana, Arial, Helvetica;font-size:14px;color:#000000;}
.b24-topictrail-title {font-size:14px;font-weight:bold;color:#000000;}
.b24-topictrail-title2 {font-size:14px;font-weight:normal;color:#000000;}
.b24-topictrail-link {font-size:14px;color:#0E25AB;font-weight:normal;}
.b24-topictrail-link2 {font-size:12px;color:#0E25AB;font-weight:normal;}
.b24-topictrail-item {font-size:14px;color:#0E25AB;font-weight:normal;}
.b24-topictrail-item2 {font-size:12px;color:#0E25AB;font-weight:normal;}
.b24-topictrail-description {font-size:14px;font-weight:normal;color:#000000;}
.b24-topictrail-subitem {font-size:12px;color:#0E25AB;font-weight:normal;}

.b24-lessonlist {font-family:Verdana, Arial, Helvetica;font-size:12px;color:#000000;}
.b24-lessontitle {font-weight:bold;font-size:12px;}
.b24-lessonitem {font-size:10px;}

.b24-bookbin {background:#DFE6FF;}
.b24-bookbin-item {font-size:12px;font-weight:normal;}

.b24-hotbooktitle {font-size:9px;font-weight:bold;text-align:center;}
.b24-booksmore {text-align:left;margin-left:50px; margin_top:3px;margin-bottom:3px;}

.b24-bookmeta     {font-size:10px;}
.b24-bookmetacompact {font-family:arial,helvetica,verdana,sans-serif;padding:4px;font-size:9px;}
.b24-bookchaptertitle {font-size:11px;font-weight:bolder;color:#000000;}
.b24-booktitle {font-weight:bold;color:#122EB2;}
.b24-booktitle2 {color:#122EB2;}
.b24-booktitle-summary {font-weight:normal; font-style:italic; color:#122EB2;}
.b24-booktitle-no {font-weight:bold;color:#B22E12;}
.b24-bookauthor {font-size:11px; color:#666666;}
.b24-bookisbn, .b24-bookcwdate, .b24-bookpages {font-family:arial,verdana,sans-serif;font-size:9px;color:#666666;}
.b24-bookpages {font-family:arial,verdana,sans-serif;font-size:9px;}
.b24-bookimprint {font-size:9px;color:#333333;}
.b24-bookpublisher, .b24-bookrights {font-size:9px;color:#666666;}
.b24-bookeditorial {color:#666666;font-size:10px;}
.b24-bookeditorial-byline {font-size:9px;color:#666666;}
.b24-bookbackcover {background:#FFFFFF;}
.b24-bookbackcover-title {font-weight:bold;color:#000000;height:35px;}
.b24-booksynopsis {background:#FFFFFF;}
.b24-booksynopsis-title {font-weight:bold;color:#000000;height:35px;}
.b24-bookshelfdate {font-family:arial, helvetica, sans-serif;}
.b24-bookarchived {color:#999999;}
.b24-searchhit {font-family:Arial, Helvetica;size:8px;color:#000000;}
.b24-searchhit-title {font-family:Arial, Helvetica;size:8px;color:#000000;font-weight:bold;}
.b24-searchhit-details {font-family:Arial, Helvetica;size:8px;color:#9D9D9D;}

.b24-soundview {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9px;color:#666666;}

.b24-folderbook {font-size:12px;color:#000000;background:#FFFF;}
.b24-folderbook1 {background:#FFFFFF;}
.b24-folderbook-edit {border:#FBFBDA 1px solid;padding:5px;background:#FBFBDA;}

.b24-foldereditform {display:inline;background:transparent;font-size:10px;}
.b24-foldereditcontrol {background:#FBFBDA;}
.b24-foldereditsubmit {background:#FFFFFF;color:#000000;}
.b24-folderedit {color:navy;font-weight:bold;font-size:12px;}
.b24-folderedit-current {background:yellow;}
.b24-folderedit-link {font-weight:bold;color:#122EB2;}
.b24-foldereditmenu {font-family:Arial, Helvetica;font-size:10px;color:#FFFFFF;}
.b24-foldereditmenu2 {font-family:Arial, Helvetica;font-size:10px;color:#000000;background:#FBFBDA;}
.b24-foldereditmenu-title1 {font-size:12px;font-weight:normal;color:#FFFFFF;background:#5E7ABB;}
.b24-foldereditmenu-title2 {font-size:12px;font-weight:normal;color:black;}
.b24-foldereditmenu-exit {font-size:12px;font-weight:normal:color:red;}

.b24-bookmanage-title {font-weight:bold;font-size:12px}
.b24-bookmanage-formlabel {font-weight:bold}
.b24-bookmanage-bookmeta {background:#FFEB8A;}
.b24-bookmanage-bookmarkmenu {background:#FFFFFF;}
.b24-bookmanage-bookmarkform {background:#FFFFB2;display:inline;}
.b24-bookmanage-bookmarktitle {font-size:13px;font-weight:bold;}
.b24-bookmanage-bookmarkselected {background:#FFFFB2;}
.b24-bookmanage-bookmarklink  {text-decoration:none;}
.b24-bookmanage-systemfolder  {border:1px black solid;padding-top:1px;padding-bottom:1px;background:#FFFFFF;}

.b24-bookmark {font-family:Arial, Helvetica;size:10px;color:#000000;}
.b24-bookmark-title {font-family:Arial, Helvetica;size:10px;color:#000000;font-weight:bold;}

.b24-toctitle {font-size:12px;font-weight:bold;color:#000000;vertical-align:middle;}
.b24-tocmenu {font-size:11px;color:#122EB2;background:#FFFFFF;border-top:solid #000000 1px;border-bottom:solid #000000 1px;padding-top:4px;padding-bottom:4px;}
.b24-toc {font-family:arial, helvetica, verdana, sans-serif;font-size:12px;color:black;font-weight:normal;}
.b24-toc0, .b24-toc0 A {font-weight:bold;font-size:11px;color:#000000;font-decoration:none;}
.b24-toc1, .b24-toc1 A {font-weight:normal;font-decoration:none;color:#122EB2}
.b24-toc2, .b24-toc2 A {font-weight:normal;font-size:10px;font-decoration:none;color:#000000;}

.b24-chaptertoc {}
.b24-chaptertoc0 {display:none;}
.b24-chaptertoc1 {font-family:arial,verdana;font-size:9px;color:maroon;font-weight:bold;text-align:center;border-top:thin black solid;border-bottom:thin black solid;}
.b24-chaptertoc2 {font-family:arial,verdana;font-size:10px;color:#122E76;}
.b24-chaptertoc2-selected {font-family:verdana,arial;font-size:10px;color:#000000;font-weight:bold;}
.b24-chaptertoc3 {font-family:arial,verdana;font-size:10px;color:#333333;}
.b24-chaptertoctitle {text-align:center;padding-top:1px;padding-bottom:1px;background:#5E7BBA;color:#FFFFFF;font-weight:bold;font-size:10px;}
.b24-chapterselector {}

.b24-collectionlist {font-family:Verdana, Arial, Helvetica;}
.b24-collectionlist-left {font-family:Verdana, Arial, Helvetica;color:black;}
.b24-collectiontitle {font-size:11px;font-weight:bold;color:black;}
.b24-collectiontitle2 {font-size:10px;font-weight:normal;color:black;}
.b24-collectiondescription {font-size:10px;font-weight:normal;color:black;}

.b24-mfooter {background:#FFFFFF;font-size:9px;}
.b24-mfootercolumn {background:#FFFFFF;}

.b24-footer {margin-left:5px; font-family:Arial, Helvetica, sans-serif;font-size:10px;color:#000000;}
.b24-footlink {font-family:Arial, Helvetica, sans-serif;font-size:10px;color:#CC0000;text-decoration:none;}

.b24-mktfooter {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9px;color:black;}
.b24-mktfooter_title{font-size:10;font-weight: bold;letter-spacing: .2em;}
.b24-mktfooterlink {font-size:10px;color:#999999; text-decoration:none;padding-left:0px;padding-bottom:0px;padding-top:0px;}
.b24-mktfooterlink:visited {font-size:10px;color:#999999; text-decoration:none;padding-left:0px;padding-bottom:0px;padding-top:0px;}
.b24-mktfooterlink:hover {font-size:10px;color:#FF9900; text-decoration:underline;padding-left:0px;padding-bottom:0px;padding-top:0px;}
.b24-mktfooterlink:active {font-size:10px;color:#CC0000; text-decoration: none;padding-left: 0px;padding-bottom: 0px;padding-top: 0px;}
.b24-mktnavink A{color:#CC0000;text-decoration:none;}

.b24-doc-title {font-family:Verdana, Arial, Helvetica;font-size:12px;font-weight:bold;color:#000000;}
.b24-doc-para {}
.b24-doc-ul {}
.b24-doc-ol {}
.b24-doc-listem {}
.b24-doc-dl {}
.b24-doc-dt {font-weight:bold;}
.b24-doc-dd {}

.b24-form {margin-top:0px;margin-bottom:0px;color:#000000;}
.b24-formbg {border:solid #FFFFFF 1px;xbackground:#FFFFFF;}
.b24-formtitle {background:#5E7ABB;color:#FFFFFF;font-weight:bold;font-size:10px;font-family:Arial, Helvetica, sans-serif;}
.b24-formtitle2 {font-weight:bold;font-size:10px;font-family:Verdana, Arial, Helvetica;}
.b24-formtitle3 {font-weight:bold;font-size:12px;font-family:Verdana, Arial, Helvetica;}
.b24-formdescription {font-family:Arial, Helvetica, sans-serif;color:#333333;}
.b24-formelement {padding-left:4px;margin-left:10px;margin-right:20px;font-family:Arial, Helvetica, sans-serif;font-size:10px;}
.b24-formseparator {size:1px;height:1px;width:100%;color:#666666;background:#CCCCCC;}
.b24-forminput {}
.b24-forminputlabel{font-size:12px;}
.b24-forminputhelp {color:#808080;}
.b24-formfineprint {font-size:12px;color:#404040;font-style:italic;text-align:center;}
.b24-formrequired {color#FF0000;font-style:italic;}
.b24-tipslink {font-family:Arial, Helvetica, sans-serif; font-size:10px;text-align:right;}
.b24-formrequired {color:#FF0000;font-style:italic;}

.b24-report {font-size:12px;}
.b24-reportitemlabel {font-size:12px;font-weight:bold;}
.b24-reportitemdata {font-size:12px;font-weight:normal;}

.b24-helpmenu {font-family:verdana, arial, helvetica, sans-serif;}
.b24-helpmenu-title {font-size:10px;color:#000000;font-weight:bold;}

.b24-boxheading {font-family:verdana,arial;color:#000000;font-size:12px;FONT-WEIGHT:bold;text-decoration:none;padding-left:0px;padding-bottom:3px;text-align:left;}

.b24-helpmenu-item {font-size:9px;}

.b24x7_pdf1{font-size:10;font-weight: bold;}
.b24x7_pdfred{font-size:10;font-weight: bold;color:#CC0000}
.b24x7_pdf2{font-weight: bold;padding-bottom:5px;margin-top:px }
.b24x7_pdf3{font-size:11;font-weight: bold;}

.b24-statstitle1 {font-weight:bold;font-size:11px;padding:5px; background:#DFE6FF;color:#000000;}
.b24-statstitle2 {font-weight:bold;font-size:11px;}
.b24-statstotal  {font-weight:bold;font-size:11px;text-align:right;}

.b24-sharelink {border:solid black 1px;padding:10px;}

.b24-error {font-family:verdana, arial, helvetica;font-size:12px;font-weight:normal;color:#000000;}
.b24-errortext {font-weight:bold;color:#FF0000;}
.b24-errorcode {color:#FF8080;}

.b24-login-title {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:13px;font-weight:bold;}
.b24-login {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;font-weight:normal;width:300px;}
.b24-login2 {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;text-decoration:none;font-weight:normal;width:300px;}

.b24-login A, .b24-login2 A {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;font-weight:bold;}
.b24-login A:visited, .b24-login2 A:visited {}
.b24-login A:hover, .b24-login2 A:hover {color:#FFCC00; text-decoration:underline;}
.b24-login A:active,.b24-login2 A:active {color:#000000;}

.b24-browsetext A {padding-right:5px;}
.b24-browsetext A:hover {padding-right:5px;background:#ceceff;}

.b24-cobrand {font-family:Verdana,arial,helvetica,sans-serif;font-size:12px;color:#FFFFFF; text-align:left;}
.b24-cobrand-title {font-weight:bold;font-size:12px;color:#ffffff;border:solid #ffffff 2px;padding:2px;text-align:center;}
.b24-cobrand-bold {font-weight:bold;font-size:12px;color:#ffffff;padding:2px;}
.b24-cobrand A {color:#ffcc00;text-decoration:underline;}

.highlight {background:#FFFFCC;}
.debug {font-face:comic sans ms;font-size:9px;background:#FFFFFF;color:#000000;}

.debugwrite_old {font-face:comic sans ms;font-size:9px;background:#FFFFFF;color:#5E7ABB;}
.debugwriteform_old {font-face:comic sans ms;font-size:9px;background:#5E7ABB;color:#FFFFFF;}
.debugwritecookie_old {font-face:comic sans ms;font-size:9px;background:#BB7A5E;color:#FFFFFF;}
.alwayswrite_old {font-face:comic sans ms;font-size:9px;background:#FFFFFF;color:#BB7A5E;}

.debugwrite {font-face:comic sans ms;font-size:9px;background:#FFFFFF;color:#336699;}
.xmldebugwrite {font-face:comic sans ms;font-size:9px;background:#FFFFFF;color:#339966;}
.debugwriteform {font-face:comic sans ms;font-size:9px;background:#FFFFFF;color:#FFFFFF;}
.debugwritecookie {font-face:comic sans ms;font-size:9px;background:#996633;color:#FFFFFF;}
.alwayswrite {font-face:comic sans ms;font-size:9px;background:#FFFFFF;color:#993366;}
.xmlalwayswrite {font-face:comic sans ms;font-size:9px;background:#FFFFFF;color:#666633;}


.mml_green {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;background:#E3EDE5;}
.mml_form {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;display:inline;}
.b24-mmlchaptertoctitle {text-align:center;padding-left:5px;padding-top:3px;padding-bottom:3px;background:#FFFFFF;color:#000000;font-weight:bold;font-size:10px;font-family:Arial, Helvetica, sans-serif;width:100%;}
.b24-mmlchaptertoc {font-size:10px;color:black;padding-left:0px;padding-right:2px;padding-bottom:4px;background:#FFFFFF;}
.b24-mmlformsubmit {background:#FFFFFF;}
.b24-mmlhelpmenu {font-family:verdana, arial, helvetica, sans-serif;}
.b24-mmlhelpmenu-title {font-size:12px;color:#000000;font-weight:bold;}
.b24-mmlhelpmenu-item {font-size:10px;}
.b24-mml_headers {font-family:helvetica,verdana,arial,sans-serif;font-size:16;color:#000000;font-weight:bold;padding-left:0px;padding-bottom:0px;padding-top:0px;letter-spacing:5px;text-transform:lowercase;word-spacing:4px;}
.b24-mml_hr {size:3;color:#809BB2;}
.b24-mml_searchbar {font-family:arial,helvetica,sans-serif, sans-serif;font-size:11px;color:#000000;}
.b24-mml_bookmanage-bookmeta {background:#FFFFFF;}
.b24-mml_bookmanage-bookmarkform {background:#FFFFFF;display:inline;}

.b24-partner_header {font-family:helvetica, verdana, arial, sans-serif;font-size:15;color:#000000;font-weight:bold;letter-spacing : 2.5px;word-spacing: 1px;margin-top:0px;}
.b24-partner_box {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#000000;text-decoration:none;margin-top:0;margin-bottom:7px;}
.b24-partner_para {font-family:helvetica, verdana, arial, sans-serif;font-size:12px;color:#5e7abb;font-weight:bold;letter-spacing : 2.5px;}
LI.b24-partner_box {list-style-image:url(images/partner_bluedisc.gif);font-family:helvetica, Verdana, Arial, Helvetica, sans-serif;color:#2f3d97;font-size:11px;text-decoration:none;line-height:16px;margin-left:-10px;letter-spacing:1px;margin-top:5;margin-bottom:5;}
LI.b24-partner_box_plain {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#000000;text-decoration:none;margin-top:3;margin-bottom:7px;}
.b24-partner_box A {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#2f3d97;text-decoration:none;letter-spacing : 1px;}
.b24-partner_box A:visited {color:#2f3d97;}
.b24-partner_box A:hover{color:#000000; text-decoration:underline;}
.b24-partner_box A:active{color:#000000;}
.b24-partner_list {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#000000;text-decoration:none;letter-spacing:1px;margin-top:2px;margin-bottom:2px;list-style:none;margin-left:0;}

.b24-starter_title {font-family:arial, helvetica, sans-serif;font-size:12px;font-weight:bold;color:#2F3D97;}
.b24-starter_search {font-family:arial,helvetica,sans-serif, sans-serif;font-size:11px;color:#000000;background:#FFFFFF;}
LI.b24-starter_list  {list-style-image:url(images/starter_arrow.gif);font-family:helvetica, Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:11px;text-decoration:none;line-height:16px;margin-left:-16px;letter-spacing:1px;margin-top:0;margin-bottom:0;}

