.docBookTitle, .docPartTitle
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:114%; line-height:118%; font-weight:bold; }
.docPrefaceTitle, .docAppendixTitle, .docChapterTitle, .docBibliographyTitle, .docArticleTitle, .docGlossaryTitle
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:86%; font-weight:bold; }
.docSidebarTitle
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:86%; font-weight:bold; }
.docSection1Title, .docBibliodivTitle, .docBridgehead
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:86%; font-weight:bold; }
.docSection2Title, .docBibliosetTitle
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:80%; font-weight:bold; }
.docSection3Title, .docSection4Title, .docSection5Title, 
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:75%; font-weight:bold; }

.docFigureTitle, .docTableTitle, .docExampleTitle, .docTocTitle, .docAbstractTitle, .docQandasetTitle, .docProcTitle, .docRefsectTitle
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:73%; font-weight:bold; }


/* -- .docText and .docList were using identical styles causing nesting issues -- */

.docText
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:73%; line-height:130%; }
.docList
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:73%; line-height:130%; }
.docList ol
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:100%; line-height:130%; }
.docList li
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:100%; line-height:130%; }
.docList p
	{ font-size:100%; }
.docList table
	{ font-size:100%; }
.docList h5
	{ font-size:100%; }
.docList pre
	{ font-size:100%; }

.docMonofont
	{ color:#790029; font-family:Andale Mono, Courier New, Courier, monospace; font-size:110%; }

.docTableHeader, .docTableCell
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; }
.docTableFooter
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:90%; }

.docRefCell
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:77%; }

.docTextHighlight
	{ background-color:#FFEE99; color:#CC0000; }
.docIndexterm
	{ color:#333333; font-size:75%; }

.docFootnote { color:#666666; font-size:12px; }
	
.docItemizedlist
	{ font-family:Verdana,Arial,Helvetica,sans-serif; }


.docNote
	{ blockquote margin-top:2em; margin-right:2em; margin-bottom:2em; margin-left:2em; }


.docNoteTitle
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:77%; font-weight:bold; }
.docNormalTitle, .docTipTitle
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:77%; font-weight:bold; }
.docCautionsTitle
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#CC0000; font-size:77%; font-weight:bold; }


.docLink
	{ color:#003399; }
.docLink:visited
	{ color:#3366CC; }
.docLink:hover
	{ color:#000033; }


.docEmphasis
	{ font-style:italic; }
.docEmphBold, .docEmphStrong
	{ font-weight:bold; }
.docEmphGray
	{ color:#999999; }
.docEmphMark
	{ background-color:#999999; }
.docEmphRev
	{ color:#FFFFFF; background-color:#666666; }
.docEmphStrike
	{ text-decoration:line-through; }
.docEmphUl, .docEmphCursor
	{ border-bottom-width:2px; border-bottom-style:solid; border-bottom-color:#000000;}
.docEmphBoldItalic
	{ font-style:italic; font-weight:bold; }
.docEmphRoman
	{ font-style:normal; text-decoration:none; text-transform:none; font-weight:normal; font-variant:normal; }
.docEmphSmaller
	{ color:#333333; font-size:smaller; }
.docEmphHyperlink
	{ color:black; }


.docCaps
	{ text-transform:uppercase; }

.docStructname
	{ font-variant:small-caps; }

.docPubcolor
	{ color:#333333; }




h1, h2, h3, h4, h5, h6 { color:#333333; }
 
pre { color:#790029; font-family:Andale Mono, Courier New, Courier, monospace; font-size:80%; }
tt { color:#790029; font-family:Andale Mono, Courier New, Courier, monospace; font-size:110%; }