*{ font-family: "Arial Unicode MS", sans-serif;font-size:10pt }

body
{
	/*margin-top: 4pt;*/
	/*margin-bottom: 4pt;*/
	/*margin-right: 15pt;*/
}
.cover
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	text-align: center;
}
h1
{
	margin-top: 15pt;
	margin-bottom: 12pt;
	text-align: center;
	font-weight: bold;
	page-break-after: avoid;

}
h2
{
	margin-top: 7pt;
	margin-bottom: 25pt;
	font-weight: bold;
	page-break-after: avoid;

}
h3
{
	margin-top: 9pt;
	margin-bottom: 8pt;
	font-weight: bold;
	page-break-after: avoid;

}
h4
{
	margin-top: 9pt;
	margin-bottom: 6pt;
	font-weight: bold;
	page-break-after: avoid;

}
h5
{
	margin-top: 9pt;
	margin-bottom: 6pt;
	font-weight: bold;
	page-break-after: avoid;

}
.author
{
	text-align: center;
	font-weight: bold;
	margin-top: 50pt;
}
.title2
{
	margin-top: 150pt;
	margin-bottom: 3pt;
	text-align: center;
}
.pub
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	text-align: center;
}
p
{
	margin-top: 5pt;
	margin-bottom: 4pt;
	text-indent: .002pt;
}
.ded
{
	margin-top: 100pt;
	margin-bottom: 5pt;
	text-align: center;
}
div.image, img
{
	max-width: 99%;
	max-height: 99%;
}
.image
{
	margin-top: 15pt;
	margin-bottom: 5pt;
	text-align: center;
}
div.image1, img
{
	max-width: 99%;
	max-height: 99%;
}
.image1
{
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 20pt;
	text-align: justify;
}
div.image2, img
{
	max-width: 99%;
	max-height: 99%;
}
.image2
{
	margin-top: 5pt;
	text-align: center;
}
div.image3, img
{
	max-width: 99%;
	max-height: 99%;
}
.image3
{
	text-align: center;
	page-break-before: always;
}
div.imagefir, img
{
	max-width: 99%;
	max-height: 99%;
}
.imagefir
{
	text-align: center;
}
.fig-caption
{
	font-weight: bold;
	page-break-before: avoid;
	page-break-inside: avoid;
	margin-top: 4pt;
	margin-bottom: 8pt;
	text-align: center;
}
.indenthangingBB
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 32pt;
	text-indent: 17pt;
	text-align: justify;
}
.indenthangingNP
{
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 36pt;
	text-align: justify;
}
.indenthangingNP1
{
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 70pt;
}
.indenthangingB
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 35pt;
	text-indent: -7.5pt;
	text-align: justify;
}
.indenthanging
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 34pt;
}
.indenthanging2
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-left: 80pt;
	text-align: justify;
}
.indenthangingN1
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 28pt;
	text-indent: -16pt;
	text-align: justify;
}
.indenthangingN
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 32pt;
	text-indent: -14pt;
}
.toc-preface
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-left: 30pt;
	text-align: justify;
}
.toc-chapter
{
	margin-top: 10pt;
	margin-bottom: 8pt;
	margin-left: 20pt;
	text-align: justify;
}
.toc-chapter1
{
	margin-top: 12pt;
	margin-bottom: 8pt;
	margin-left: 12pt;
	text-align: justify;
}
.toc-index
{
	margin-top: 8pt;
	margin-bottom: 8pt;
	margin-left: 32pt;
	text-align: justify;
}
.toc-section
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-left: 60pt;
	text-indent: -27pt;
	text-align: justify;
}
.toc-appendix
{
	margin-top: 11pt;
	margin-bottom: 4pt;
	margin-left: 32pt;
	text-align: justify;
}
.tab-caption
{
	margin-top: 12pt;
	margin-bottom: 12pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	text-align: center;
	font-weight: bold;
}
.question
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 34pt;
	text-indent: -16pt;
	text-align: justify;
}
.question1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 36pt;
	text-indent: -24pt;
	text-align: justify;
}
.answer
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 34pt;
	text-indent: -16pt;
	text-align: justify;
}
.footnotes
{
	font-size: small;
	margin-top: 5pt;
	margin-bottom: 4pt;
	margin-left: 14pt;
	text-indent: -12pt;
}
.indent
{
	margin-top: 10pt;
	margin-bottom: 10pt;
	text-indent: 15pt;
}
.indent5
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-left: 45pt;
}
.indent3
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	text-align: right;
	margin-right: 10pt;
}
.indent2
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-left: 20pt;
}
.indent4
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	text-align: right;
	margin-right: 10pt;
}
.programlisting
{
	font-family: "Courier New";
	margin-top: 10pt;
	margin-bottom: 10pt;
	font-size: small;
}
.programlisting2
{
	font-family: "Courier New";
	margin-left: 40pt;
	margin-top: 10pt;
	margin-bottom: 10pt;
	font-size: small;
}
code
{
	font-size: small;
}
.indexmain
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-left: 33pt;
	text-indent: -33pt;
}
.indexsub
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-left: 45pt;
	text-indent: -30pt;
}
.indexsubsub
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-left: 45pt;
	text-indent: -15pt;
}
.copy1
{
	margin-top: 8pt;
	margin-bottom: 8pt;
	text-indent: 0.024pt;
	text-align: justify;
}
.copy
{
	margin-top: 12pt;
	margin-bottom: 2pt;
	text-indent: 0.024pt;
}
.sidebar
{
	font-size: medium;
	margin-top: 5pt;
	margin-bottom: 12pt;
	margin-right: 18pt;
	margin-left: 18pt;
}
.sidebarpara
{
	margin-top: 4pt;
	margin-bottom: 5pt;
	margin-left: 15pt;
	margin-right: 15pt;
}
.reff
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 50pt;
}
.program
{
	font-family: "Courier New";
	font-size: small;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 55pt;
	text-align: justify;
}
.programlisting1
{
	font-family: "Courier New";
	margin-top: 10pt;
	margin-left: 15pt;
	margin-bottom: 10pt;
	font-size: small;
}
.programlistings1
{
	font-family: "Courier New";
	font-size: small;
	margin-top: 10pt;
	margin-bottom: 10pt;
	text-align: center;
}
.indent1
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 30pt;
	text-align: justify;
}
.indentaa
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 30pt;
}
.codelink
{
	margin-top: 7pt;
	margin-bottom: 7pt;
	text-align: justify;
	page-break-after: avoid;
        font-weight: bold;
}
.middle
{
	vertical-align: middle;
}
.indenthangingA
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 45pt;
	text-align: justify;
}
span.entity
{
	font-family: "Arial Unicode";
}
.center
{
	margin-top: 10pt;
	margin-bottom: 10pt;
	text-align: center;
}
.programlisting3
{
	font-family: "Courier New";
	font-size: small;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 95pt;
	text-align: justify;
}
.answer1
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 30pt;
	text-indent: -20pt;
	text-align: justify;
}
.indenthanging2b
{
	margin-top: 2pt;
	margin-bottom: 10pt;
	margin-left: 80pt;
	text-align: justify;
}
.indenthanging2a
{
	margin-top: 50pt;
	margin-bottom: 2pt;
	margin-left: 80pt;
	text-align: justify;
}
.indenthanging3
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	margin-left: 95pt;
	text-align: justify;
}
.indent
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	text-indent: 15pt;
}
.noindent
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	text-indent: 0.024pt;
}
.indentpre
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 15pt;
}

@page { margin-top: 30px; margin-bottom: 20px; margin-left: 30px; margin-right: 30px; }
body { text-align: justify; }