p.targetnav1 {padding: 0; margin-top: 5px; margin-bottom: 0; }
.labsModule {min-width: 708px; }
#labs_branding_banner {margin: 0 0 20px 0; padding: 0; height: 152px; overflow: hidden; background: #e7e8ec url(/static/200811-1140-bvdep/images/labs_branding_banner.gif) 0 0 no-repeat; }
#labs_branding_banner div {margin: 0; padding: 26px 10px 10px 204px; height: 152px; overflow: hidden; background: transparent url(/static/200811-1140-bvdep/images/labs_branding_banner_rt.gif) right 0 no-repeat; }
#labs_branding_banner div p {margin: 0 0 12px 0; padding: 0; }
h4.title2 {margin: 0 0 7px 0; padding: 7px 0 0 0; color: #41455f; font-size: 12px; font-weight: bold; }
.ct {display: block; font-size: 0; line-height: 0; margin: 0; height: 6px; width: 100%; position: relative; top: -1px; right: -1px; }
.ct .cl {display: block; font-size: 0; line-height: 0; margin: 0; height: 6px; width: 6px; position: relative; left: -2px; }
.cb {display: block; clear: both; font-size: 0; line-height: 0; margin: 0; height: 6px; width: 100%; position: relative; bottom: -1px; right: -1px; }
.cb .cl {display: block; font-size: 0; line-height: 0; margin: 0; height: 6px; width: 6px; position: relative; left: -2px; }
.saf_i_box {border: 1px solid #CED3E7; background: #E7EBEF; margin: 15px 0; }
.saf_i_box .ct {background: transparent url(/static/200811-1140-bvdep/images/up_rt.gif) no-repeat top right; }
.saf_i_box .ct .cl {background: transparent url(/static/200811-1140-bvdep/images/up_lt.gif) no-repeat top left; }
.saf_i_box .cb {background: transparent url(/static/200811-1140-bvdep/images/dn_rt.gif) no-repeat bottom right; }
.saf_i_box .cb .cl {background: transparent url(/static/200811-1140-bvdep/images/dn_lt.gif) no-repeat bottom left; }
.saf_i_box div {margin: 0; padding: 7px; }
.saf_i_box div p {margin: 0; padding: 0; }
.bxt {display: block; font-size: 0; line-height: 0; margin: 0; height: 2px; width: 100%; position: relative; top: -1px; right: -1px; }
.bxt .bxl {display: block; font-size: 0; line-height: 0; margin: 0; height: 2px; width: 2px; position: relative; left: -2px; }
.bxb {display: block; clear: both; font-size: 0; line-height: 0; margin: 0; height: 2px; width: 100%; position: relative; bottom: -1px; right: -1px; }
.bxb .bxl {display: block; font-size: 0; line-height: 0; margin: 0; height: 2px; width: 2px; position: relative; left: -2px; }
.black_box_onwt {border: 1px solid #000; background: #000; margin: 4px 20px 4px 20px; height: 1%;}
.black_box_onwt .bxt {background: transparent url(/static/200811-1140-bvdep/images/blkbox_ne_corner.gif) no-repeat top right; }
.black_box_onwt .bxt .bxl {background: transparent url(/static/200811-1140-bvdep/images/blkbox_nw_corner.gif) no-repeat top left; }
.black_box_onwt .bxb {background: transparent url(/static/200811-1140-bvdep/images/blkbox_se_corner.gif) no-repeat bottom right; }
.black_box_onwt .bxb .bxl {background: transparent url(/static/200811-1140-bvdep/images/blkbox_sw_corner.gif) no-repeat bottom left; }
.black_box_onwt div.boxcontent {margin: 0; padding: 5px 7px 7px 7px; }
.black_box_onwt div.boxcontent p.blkbox {margin: 26px 0 0 34px; padding: 0; }
.black_box_onwt div.boxcontent p.blkbox a {text-decoration: none; font-weight: bold; color: #FFF; }
.black_box_onwt div.boxcontent p.blkbox a:hover { text-decoration: underline; }
.black_box_onwt div.boxcontent div.objcontainer {margin: 40px auto 100px auto; text-align: center; }
.home_branding_bg {background: transparent url(/static/200811-1140-bvdep/images/home_branding_bg.gif) 0 0 no-repeat; }
.library_kicker_bg {background: transparent url(/static/200811-1140-bvdep/images/library_kicker_bg.gif) 0 0 no-repeat; }
.jolt_kicker_bg {background: transparent url(/static/200811-1140-bvdep/images/jolt_kicker_bg.gif) 0 0 no-repeat; }
.vid_kicker_home_bg {background: transparent url(/static/200811-1140-bvdep/images/vid_kicker_home_bg.gif) 0 0 no-repeat; }
.rc_kicker_home_bg {background: transparent url(/static/200811-1140-bvdep/images/rc_kicker_home_bg.gif) 0 0 no-repeat; }
.sc_kicker_home_bg {background: transparent url(/static/200811-1140-bvdep/images/sc_kicker_home_bg.gif) 0 0 no-repeat; }
.ssologin {background: transparent url(/static/200811-1140-bvdep/images/bg_ssologin_kicker.gif) 0 0 no-repeat; }
#vidLandingBanner {margin: 0; padding: 0; height: 150px; background: #f9d781 url(/static/200811-1140-bvdep/images/video_landing_bg.gif) 0 0 no-repeat; }
.vidbannerInside {margin: 0; padding: 0; height: 150px; background: transparent url(/static/200811-1140-bvdep/images/video_landing_corners.gif) right 0 no-repeat; }
.vidbannerInside .vidBannerPara {margin: 0; padding: 18px 20px 0 20px; font-size: 14px; }
.vidbannerInside .vidBannerParaSub {margin: 12px 0 0 0; padding: 0 20px 0 20px; font-size: 12px; font-weight: bold; }
.saf_i_boxV {border: 1px solid #CED3E7; background: #E7EBEF; }
.saf_i_boxV .ct {background: transparent url(/static/200811-1140-bvdep/images/up_rt.gif) no-repeat top right; }
.saf_i_boxV .ct .cl {background: transparent url(/static/200811-1140-bvdep/images/up_lt.gif) no-repeat top left; }
.saf_i_boxV .cb {background: transparent url(/static/200811-1140-bvdep/images/dn_rt.gif) no-repeat bottom right; }
.saf_i_boxV .cb .cl {background: transparent url(/static/200811-1140-bvdep/images/dn_lt.gif) no-repeat bottom left; }
.saf_i_boxV div.sbvInterior {margin: 0 2px 0 0; padding: 0; text-align: center;}
.sbvInterior .videoclips {margin: 0 auto; padding: 0; width: 700px; height: 215px; ; }
.sbvInterior  .videoclips li {float: left; padding: 0 20px; width: 180px; list-style: none; text-align: center; }
.videoclips li.rt {}
.videoclips li img {border: none; }
.videoclips li p {margin: 0; padding: 0 6px 4px 8px; font-size: 10px; text-align: left; }
.videoclips li p .vidtitle {font-weight: bold; }
h4.vid_subhdr {margin: 12px 0 16px 18px; padding: 0; font-size: 15px; color: #6d7288; text-align: left; }
.titleBold {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 17px; color: #000; line-height: 25px; }
.tabularData3 .stdHdrM2 {background: #eff1f3; padding: 3px 6px 3px 6px; font-weight: normal; font-size: 11px; color: #000; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; border-top-color: #ccd1e2; border-bottom-color: #ccd1e2; border-left-color: #ccd1e2; border-right-width: 1px; border-right-style: solid; border-right-color: #ccd1e2; }
.tabularData3 .stdHdrL2 {background: #eff1f3; padding: 3px 6px 3px 6px; font-weight: normal; font-size: 10px; color: #000; border: 1px solid #ccd1e2; line-height: 16px; }
.contentClass   {display:none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; margin-top: 5px; margin-right: 15px; margin-bottom: 15px; margin-left: 20px; line-height: 18px; font-weight: normal; color: #000000; }
.linkClass  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; padding-top: 12px; padding-right: 0px; padding-bottom: 10px; padding-left: 5px; font-weight: bold; color: 003399; }
